.container {
    display: flex;
    padding: 10px;
}

.imageContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 50%;
}
.imageContainer img {
width: 500px;    
margin-left: 2rem;
margin-top: 2rem;
}


form {
    display: flex;
    flex-direction: column;
}

.loginForm {
    display: flex;
    max-width: 50%;
    margin-left: 20px;
    justify-content: center;
    align-items: end;
}